<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>TMDB_API_KEY</key>
        <string>f50eab6bea0d51bc2b0090f9092cdd40</string>
        <key>TMDB_BEARER_TOKEN</key>
        <string>eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJmNTBlYWI2YmVhMGQ1MWJjMmIwMDkwZjkwOTJjZGQ0MCIsIm5iZiI6MTc0NDc5MTkwNy41MzYsInN1YiI6IjY3ZmY2OTYzYzFlMGE3MDhjYmFkOGFjZiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.4wf_RqUPk9rJq2lXUUe8fyskGuYfr_22vmJ0AjqGpoc</string>
    </dict>
</plist>
